@import './reset.css';
@import './variables.css';
@import './classes.css';

body {
    background-color: #f1f5fb;
}

/**********************************
    Header
**********************************/

.page-header {
    border-bottom: 2px solid #f1f5fb;
}

.page-header h1 {
    color: var(--app-light-green)
}

.page-header .container {
    width: 90%;
    height: 77px;
}

.header-nav ul {
    list-style: none;
}

.header-nav ul li {
    height: 75px;
    display: flex;
    grid-template-rows: 20px;
}

.header-nav ul li i {
    margin-right: 7px;
}

.home {
    border-bottom: 7px solid var(--app-light-green);
    color: var(--app-light-green);
}

ul li + li{
    margin-left: 30px;
}

.search {
    height: 100%;
    overflow: hidden;
    height: 40px;
    width: 400px;
    border-radius: 25px;
    border: 2px solid #e8ebef;
}

.fa-magnifying-glass {
    width: 40px;
}

.search-bar {
    width: calc(400px - 40px);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-right: 40px;
    background: url("../img/x-mark-16.png") no-repeat center;
}

.pfp {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: url(../img/default-user.png) no-repeat center;
    background-size: contain;
    border: 2px solid #e8ebef;
}

/**********************************
    Main
**********************************/

main {
    margin-bottom: var(--app-margin-top);
}

main .container {
    width: 90%;
}

.home-page {
    grid-template-columns: auto 50% auto;
}

/*
    Left column
*/

.user-info {
    margin-left: 15px;
}

/*
    Middle column
*/

.date-posted {
    margin-left: auto;
}

.actions {
    margin-top: 10px;
}

.actions .container {
    width: 100%;
}

.actions ul {
    list-style: none;
    color: #808080;
}

/*
    Right column
*/

.current-user {
    margin-left: var(--app-margin-top);
}

.current-user .pfp {
    height: 100px;
    width: 100px;
}

.subtext {
    color: #808080
}

.customize {
    width: 150px;
    color: #fff;
    background-color: var(--app-light-green);
    height: 40px;
}

/**********************************
    Same properties
**********************************/

.page-header, .following, .post, .current-user {
    box-shadow: 5px 5px 20px rgb(0 0 0 / 0.1);
}

.post, .current-user, .following {
    border: 2px solid #e8ebef;
    padding: var(--app-margin-top);
}

.header-nav ul li, .search-bar, .customize, .user-info p {
    font-size: 16px;
}

.header-nav ul li, .post, .current-user, .following, img, .customize {
    border-radius: var(--app-border-radius);
}

main, .user, .post + .post, .content, img, .current-user h2, .customize {
    margin-top: var(--app-margin-top);
}

.following, .current-user {
    width: calc(100% - var(--app-margin-top));
    height: min-content;
}

.page-header, .post, .current-user, .following {
    background-color: #fff;
}

.page-header .container, .search, .header-nav ul li {
    align-items: center;
}

.page-header .container, .current-user-info {
    justify-content: space-between;
}

.header-nav ul li, .fa-magnifying-glass, .current-user h2, .current-user p {
    text-align: center;
}

.search, .search-bar, .pfp {
    background-color: #f1f5fb;
}

.recent-posts .container, .customize-button {
    width: 100%;
}

.current-user .pfp, .customize {
    margin-inline: auto;
}

.header-nav ul li:hover, .user:hover, .poster:hover {
    text-decoration: underline;
}

.page-header h1:hover, .header-nav ul li:hover, .user:hover, 
.poster:hover, .pfp:hover, .actions ul li {
    cursor: pointer;
}