@import './reset.css';
@import './variables.css';
@import './classes.css';

body {
    background-image: linear-gradient(45deg, var(--app-green), var(--app-dark-green));
}

.container {
    height: 100vh;
    place-items: center;
}

.login {
    height: 600px;
    width: 85%;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 0.3);
    grid-template-columns: 50% 50%;
    overflow: hidden;
}
.account h2 {
    margin-top: 100px;
}

.account h2, .account h3, .account h4, .info h2, .info h4 {
    text-align: center;
}

form {
    flex-direction: column;
}

form input, button {
    width: 50%;
    height: 35px;
    padding: 0 10px;
    border: solid 1px var(--app-dark-green);
}

form p {
    width: 50%;
    margin-top: 5px;
}

.mistake {
    height: 0;
    color: #ff0000;
    font-style: italic;
}

.buttons, button {
    width: 100%;
}

.buttons input, button {
    width: 24%;
}

.all-options p {
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.all-options p + p {
    margin-left: 30px;
}

.account-footer {
    margin-top: auto;
}

.policies {
    list-style: none;
    position: relative;
    top: 100px;
}

.policies li + li {
    margin-left: 5%;
}

.info {
    background: url(../img/building.jpg) no-repeat center;
    background-size: cover;
    box-shadow: inset 1000px 1000px rgb(0 0 0 / 0.4);
    background-color: var(--app-dark-green);
    height: 100%;
    place-content: center;
}

/*************************
    Same properties
*************************/

.login, .sign-up-button {
    background-color: #fff;
}

.login, form input, button {
    border-radius: var(--app-border-radius);
}

form, .all-options p {
    align-items: center;
}

.login-button, button, .sign-up-button {
    border-color: var(--app-light-green);
}

form p, .policies {
    font-size: 12px;
}

.buttons, button, .all-options, .all-options p, .policies, .info-buttons {
    justify-content: center;
}

form input, button, .login-options, .all-options {
    margin-top: var(--app-margin-top);
}

form p, .policies {
    color: #808080;
}

.login-button, button, .all-options p {
    background-color: var(--app-light-green);
}

.info h2, .info h4, .login-button, button, .all-options p {
    color: #fff;
}

.prefrences, .sign-up-button {
    margin-left: 2%;
}

ul li:hover, .forgot:hover {
    text-decoration: underline;
}

.all-options p:hover, ul li:hover, .forgot:hover {
    cursor: pointer;
}